/* ============== Base de SmartMenu (à ne pas éditer) ============== */
.sm {
	position: relative;
	z-index: 999;
}
.sm, .sm ul, .sm li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: normal;
	direction: ltr;
	text-align: left;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.sm-rtl, .sm-rtl ul, .sm-rtl li {
	direction: rtl;
	text-align: right;
}
.sm>li>h1, .sm>li>h2, .sm>li>h3, .sm>li>h4, .sm>li>h5, .sm>li>h6 {
	margin: 0;
	padding: 0;
}
.sm ul {
	display: none;
}
.sm li, .sm a {
	position: relative;
}
.sm a {
	display: block;
}
.sm a.disabled {
	cursor: not-allowed;
}
.sm:after {
	content: "\00a0";
	display: block;
	height: 0;
	font: 0px/0 serif;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
.sm, .sm *, .sm *:before, .sm *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* ============== Partie éditable ============== */

/* ========== Commun ========== */
#main-nav li a {
	text-decoration: none;
}

/* ============== Smartphones ============== */
@media only screen and (max-width: 767px) {

/* ========== Bouton bascule (toggle) pour mobile ========== */
.main-menu-btn {
	position: absolute;
	display: inline-block;
	width: 28px;
	height: 28px;
	text-indent: 29px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: -54px;
	left: 20px;
	z-index: 1000;
}
/* hamburger icon */
.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after {
	position: absolute;
	top: 50%;
	left: 0px;
	height: 4px;
	width: 28px;
	background: #F8B222;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	border-radius: 2px;
}
.main-menu-btn-icon:before {
	content: '';
	top: -10px;
	left: 0;
}
.main-menu-btn-icon:after {
	content: '';
	top: 10px;
	left: 0;
}
/* x icon */
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
	height: 0;
	background: transparent;
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
	top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* hide menu state checkbox (keep it visible to screen readers) */
#main-menu-state {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
}
/* hide the menu in mobile view */
#main-menu-state:not(:checked) ~ #main-menu {
	display: none;
}
#main-menu-state:checked ~ #main-menu {
	display: block;
}
/* ========== Fin du bouton bascule ========== */

.sm-blue {
	background: transparent;
}
.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
	/* make room for the toggle button (sub indicator) */
	/*padding-right: 40px;*/
}
.sm-blue a.current {}
.sm-blue a.disabled {}
.sm-blue li a span.sub-arrow {
	display: inline;
	position: absolute;
	top: 4px;
	left: auto;
	right: 15px;
	width: 34px;
	height: 34px;
	overflow: hidden;
	text-align: center;
	text-shadow: none;
	font-size: 20px;
	line-height: 34px;
	font-weight: normal;
	background-color: transparent;
	border-radius: 17px;
}
.sm-blue li li a span.sub-arrow {
	top: 7px;
	height: 18px;
	border-radius: 9px;
	line-height: 18px;
}
.sm-blue a.highlighted span.sub-arrow:before {
	display: block;
	content: '-';
}
.sm-blue ul {}
.sm-blue ul ul {}
.sm-blue ul a, .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active {}
.sm-blue ul a.current {}
.sm-blue ul a.disabled {}
/* ces 4 règles concernaient le retrait gauche du titre */
.sm-blue ul ul a, .sm-blue ul ul a:hover, .sm-blue ul ul a:focus, .sm-blue ul ul a:active {}
.sm-blue ul ul ul a, .sm-blue ul ul ul a:hover, .sm-blue ul ul ul a:focus, .sm-blue ul ul ul a:active {}
.sm-blue ul ul ul ul a, .sm-blue ul ul ul ul a:hover, .sm-blue ul ul ul ul a:focus, .sm-blue ul ul ul ul a:active {}
.sm-blue ul ul ul ul ul a, .sm-blue ul ul ul ul ul a:hover, .sm-blue ul ul ul ul ul a:focus, .sm-blue ul ul ul ul ul a:active {}

#main-nav {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	float: none;
	z-index: 998;
}
#main-nav ul { /* donc "#main-menu.sm-blue" */
	box-sizing: border-box;
	width: 320px;
	padding: 0px;
	background-color: rgba(10, 149, 169, 1);
	float: none;
}
#main-nav li {
	float: none;
}
#main-nav li a {
	margin: 0px;
	padding: 13px 15px 12px;
	text-align: left;
	height: auto;
	min-height: 25px;
	float: none;
	width: auto;
	font-size: 14px;
	line-height: 1.2em;
	border-bottom: 1px solid #F2F2F2;
	color: #FFF;
	text-transform: uppercase;
}
#main-nav li:hover > a, #main-nav li.current-menu-item > a, #main-nav li.current-menu-parent > a, #main-nav li.current-menu-ancestor > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#main-nav li:hover > a span.sub-arrow, #main-nav li.current-menu-item > a span.sub-arrow, #main-nav li.current-menu-parent > a span.sub-arrow, #main-nav li.current-menu-ancestor > a span.sub-arrow {
	/*background-color: rgba(255, 255, 255, 0.2);*/
}
#main-nav li a.has-submenu {
	padding-right: 60px;
}
#main-nav ul ul {
	padding: 0px;
	position: static;
	width: auto;
	background-color: #F2F2F2;
	box-shadow: none;
	border: none;
}
#main-nav li li a {
	color: #15748F;
	text-transform: none;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.2em;
	background: transparent;
	min-height: 1px;
	margin: 0px;
	padding: 8px 15px 7px 25px;
}
#main-nav li li:hover > a, #main-nav li li.current-menu-item > a, #main-nav li li.current-menu-parent > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#main-nav li li:hover > a span.sub-arrow, #main-nav li li.current-menu-item > a span.sub-arrow, #main-nav li li.current-menu-parent > a span.sub-arrow {
	/*background: rgba(255, 255, 255, 0.2);*/
}
#main-nav ul ul ul {
	background-color: #FFF;
}
#main-nav li li li a {
	color: #5CB3B9;
	padding-left: 35px;
}
#main-nav li li li:hover a, #main-nav li li li.current-menu-item a {
}
}

@media (min-width: 768px) {
	
/* ========== Bouton bascule (toggle) pour mobile ========== */
/* hide the button in desktop view */
.main-menu-btn {
	/*position: absolute;
	top: -99999px;*/
	display: none;
}
/* always show the menu in desktop view *
#main-menu-state:not(:checked) ~ #main-menu {
	display: block;
}*/
#main-menu-state {
	display: none;
}
/* ========== Fin du bouton bascule ========== */

/* Masque le + des "a.has-submenu" */
.sm-blue a span.sub-arrow {
	display: none;
}
/* --- */
#main-nav {
	position: relative;
}
#main-nav:before {
	content: "";
	position: absolute;
	background-color: #FAC81E;
	display: block;
	left: -50px;
	top: 0px;
	height: 50px;
	width: 50px;
	z-index: 999;
}
#main-nav:after {
	content: "";
	position: absolute;
	background-color: #98C21D;
	display: block;
	left: -64px;
	top: 35px;
	height: 28px;
	width: 28px;
	z-index: 999;
}
#main-nav ul {
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 96;
}
#main-nav li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: relative;
	float: left;
}
#main-nav li a {
	color: #FFF;
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 245px;
	font-size: 18px;
	line-height: 50px;
	background-color: #29A8BD;
	height: 50px;
}
#main-nav > ul > li:nth-of-type(2) > a {
	width: 355px;
}
#main-nav > ul > li:nth-of-type(3) > a {
	width: 360px;
}
#main-nav li:hover > a, #main-nav li.current-menu-item > a, #main-nav li.current-menu-parent > a, #main-nav li.current-menu-ancestor > a {
	background-color: #15748F;
}
/* ============== Sous menu déroulant ============== */
#main-nav ul ul {
	padding: 0px;
	height: auto;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	float: none;
	z-index: 95;
	border-left: 1px solid #999;
	display: none !important;
}
#main-nav > ul > li > ul {} /* n'agit que sur le 2ème niveau de ul */
#main-nav li li {
	display: block;
	list-style-type: none;
	float: none;
}
#main-nav li li a {
	color: #FFF;
	margin: 0px;
	padding: 3px 10px;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	height: auto;
	width: auto;
	float: none;
	display: block;
	text-align: left;
	border-style: none;
}
#main-nav li li:hover > a, #main-nav li li.current-menu-item > a, #main-nav li li.current-menu-parent > a {
	color: #FFF;
	background-color: #BD1A7F;
	font-weight: normal;
}
#main-nav ul ul ul {}
#main-nav li li li a {}
#main-nav li li li:hover a, #main-nav li li li.current-menu-item a {
	background: #F66;
}
}
@media only screen and (min-width: 768px) and (max-width: 1059px) {
#main-nav li a {
	width: 184px;
	font-size: 13px;
}
#main-nav > ul > li:nth-of-type(2) > a {
	width: 266px;
}
#main-nav > ul > li:nth-of-type(3) > a {
	width: 270px;
}
}